<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jason Kinsfather</title>
        <link rel="stylesheet" href="stylesheets/main.css">
        <link rel="stylesheet" href="stylesheets/stars.css">
        <script src="javascripts/main.js"></script>
    </head>
    <body>
        <div class="stars"></div>
        <div class="twink"></div>

        <div id="realBody">        
            <div id="right">
                <nav>
                    <button class="sidepanel-toggle"><i class= "fa fa-plus icon"></i></button>
                    <div id="titleCard">
                        <svg viewBox="0 0 200 200" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.2,-67.9C55.3,-54.9,57.9,-37.3,62.6,-20.8C67.4,-4.3,74.3,11,71.7,24.6C69,38.1,56.8,49.8,43.3,54.9C29.8,59.9,14.9,58.4,-1.7,60.7C-18.2,63,-36.4,69.1,-51.7,64.6C-67,60.1,-79.3,44.9,-83.8,27.9C-88.4,11,-85.2,-7.9,-75.2,-20.1C-65.2,-32.3,-48.4,-37.8,-34.7,-49.7C-21,-61.6,-10.5,-79.9,3.5,-84.7C17.6,-89.5,35.1,-81,45.2,-67.9Z" transform="translate(100 100)" />
                        </svg>
                        
                        <h1>JASON<br>KINSFATHER</h1>
                    </div>
                    <ul>
                        <li><p>Home</p></li>
                        <li><p>Projects</p></li>
                        <li><p>Blog</p></li>
                    </ul>
                    <ul id="links">
                        <li><a>Github</a></li>
                        <li><a>LinkedIn</a></li>
                    </ul>
                </nav>
            </div>

            <div id="center">hell</div>
            <div id="left"></div>
        </div>


        <!-- <div id="main-content">
            Hey there is stuff here!
        </div>
    </body>
</html>
