:root {
    --main-bg-color: #FFFFFF;
    --headline-color: #FFEFE5;
    --txt-color: #FFFFFF;
    --sec-txt-color: #1FC8A9;
}
@font-face {
    font-family: josefina;
    src: url(../fonts/JosefinSans-Bold.ttf);
}
body {
    margin: 0px;
    background-color: var(--main-bg-color);
}
nav {
    background-color: var(--headline-color);
    width: 15%;
    height: 100vh;
    display: inline-block;
    margin: 0px;
    padding: 20px;
    font-family: josefina;
    font-style: bold;
    font-size: 40px;
    color: var(--sec-txt-color);
    text-align: center;
}

#main-content {
    background-color: var(--main-bg-color);
    display: inline-block;
    color: var(--sec-txt-color);
    padding: 20px;
}